@font-face {
  font-family: delicious-bold;
  src: url(/resources/fonts/Delicious-Bold.otf);
}

@font-face {
  font-family: delicious-roman;
  src: url(/resources/fonts/Delicious-Roman.otf);
}

@font-face {
  font-family: delicious-smallcaps;
  src: url(/resources/fonts/Delicious-SmallCaps.otf);
}

div {
  margin: 0 0 8px 0;
}

.content {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.title {
  margin: 0 0 30px 0;
  font-family: delicious-bold;
  font-size: 48px;
}

.sub-title {
  margin: 20px 0 10px 0;
  font-family: delicious-smallcaps;
  font-size: 32px;
  color: green;
}

.sub-content {
  font-family: delicious-roman;
  font-size: 18px;
  margin-right: 30px;
}

.primary {
  font-family: delicious-bold;
  font-size: 25px;
}

.year {
  color: rgb(125, 125, 125);
}

.slide-up-fade-in {
	animation-name: slideUpFadeIn;
	-webkit-animation-name: slideUpFadeIn;
	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes slideUpFadeIn {
	0% { transform: translateY(20%); opacity: 0; }
	100% { transform: translateY(0%); opacity: 1; }
}

@-webkit-keyframes slideUpFadeIn {
	0% { -webkit-transform: translateY(20%); opacity: 0; }
	100% { -webkit-transform: translateY(0%); opacity: 1; }
}
