@import "primary-image.css";
@import "reset.css";
@import "social.css";
@import "user.css";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: #000000;
}

.bg {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg--top {
  width: 35%;
  height: 100%;
  background-color: #7fffd4;
  left: 0;
}

.bg--bottom {
  width: 75%;
  height: 100%;
  background-color: #f0ffff;
  right: 0;
}
